*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(231, 205, 210);
}
.navbar-top{
    width:100vw ;
    height: 11vh;
    background-color :rgb(19, 25, 33);
    display: flex;
    align-items: center;
    color: aliceblue;
    justify-content: space-between;
    position: fixed;
    z-index: 7;
}
.navbar-logo{
    width: 95px;
}
.navbar-logo img{
    width: 109%;
    position: relative;
}
.same{
    display: flex;
    font-weight: 900;
    right: 5px;
}
.location{
    position: relative;
    left: 5px;
}
.location-first{
    margin-left: 20px;
}
.list{
    width:50px;
    height: 7.2vh;
    font-size: 17px;
}
.search input {
    width: 30vw;
    height: 7.2vh;
}
.flag{
    margin-top: 5px;
}
.language{
    width: 15px;
    /* margin-right: 20px; */
    color: white;
    background-color: rgb(19, 25, 33);
    border: 0px;
}
.container{
    display: flex;
    flex-direction:column-reverse;
    font-size:15px ;
    font-weight:700 ;   
}
.lines{
    display: flex;
    flex-direction: column;
}
.Cart-logo i{
    font-size: 30px;
    align-content: center;
    
}
.Cart-logo span{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 19px;
}
.nav-main{
    width: 100vw;
    height: 6vh;
    background: #232f3e;
    position: fixed;
    top: 58px;
    z-index: 7;
}
.menu i{
    align-items: center;
    color: white;
}
.nav-main{
    display: flex;
    flex-direction: row;
    gap: 13px;
    color: white;
    align-items: center;
    font-size: 16px;
    font-weight: 700px;
}
.nav-file ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    
}
.page-content img{
    width:99.6vw;
    height: 500px;
    position: relative;
    top:88px;
}
.container1{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 100px;
    z-index: 6;
    font-size: 20px;
    
}
.box1{
    width: 270px;
    height: 400px;
    background-color: white;
    position: relative;
    left: 6px;
    
   
}
.box2{
     width: 270px;
    height: 400px;
    background-color: white;
    position: relative;
    left: 11px;
}
.box3{
     width: 270px;
    height: 400px;
    background-color: white;
    position: relative;
    left: 13px;
}
.heading{
    position: relative;
    left: 15px;
}
.container-box{
    position: relative;
    left: 20px;
}

.sign-box{
    width: 270px;
    height:150px ;
    background-color: white;
     position: relative;
}
.sign-box1{
    width: 270px;
    height:240px ;
    background-color: white;
     position: relative;
    top: 12px;
}
.sign-box button{
    border-radius: 17px;
    background-color: rgb(233, 233, 12);
    font-weight: 500;
    width: 200px;
    height: 25px;
    position: relative;
    left: 32px;
    top: 30px;
}
.image img{
    width: 110px;
    height: 110px;

  
}
.image{
    display: flex;
    padding-left: 15px;
    
}
.image1{
    display: flex;
    flex-direction: column;
    width: 137px;
    margin-top: 15px;
    position: relative;
    
}
.image1 span{
    font-size: 12px;
}
.image2 img{
     width: 110px;
    height: 110px;
     position: relative;
     left: 22px;
     top: 55px;
}
.image3 img{
    width: 270px;
    height: 240px;
}
.Container2{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 6;
    font-size: 20px;
    bottom: 80px;
    
}
.boxs2-1{
    width: 270px;
    height: 400px;
    background-color: white;
    position: relative;
    left: 6px;

}
.section{
    position: relative;
    right:13.5px ;
    
}
.boxs2-2{
      width: 270px;
    height: 400px;
    background-color: white;
    position: relative;
    left:11px;
}
.boxs2-3{
      width: 270px;
    height: 400px;
    background-color: white;
    position: relative;
    left: 13px;
}
.boxs2-4{
      width: 270px;
    height: 400px;
    background-color: white;
    position: relative;
    left: 20px;
}
.container3{
    width:97.8vw;
    height: 285px;
    background-color: white;
    position: relative;
    bottom: 60px;
    left: 15px;
}
.heading-mobile{
    font-size: 20px;
    position: relative;
    left: 15px;
    top: 9px;
}
.Mobile{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 13px;
    
}
.mobile-box{
    width: 18px;
    height: 28px;
    background-color: rgb(236, 238, 240);
    position: relative;
    top: 100px;
    
}
.container4{
    width:97.8vw;
    height: 285px;
    background-color: white;
    position: relative;
    bottom: 38px;
    left: 15px;
}
 .heading-brands{
    font-size: 23px;
    position: relative;
    left: 15px;
    top: 9px;
 }  
 .brands{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 17px;

 } 
 .brands-box{
     width: 18px;
    height: 28px;
    background-color: rgb(236, 238, 240);
    position: relative;
    top: 100px;
 }
 .container5{
   width:97.8vw;
    height: 285px;
    background-color: white;
    position: relative;
    bottom: 15px;
    left: 15px;  
 }
.container-image{
     display: flex;
    justify-content: space-between;
    position: relative;
    top: 17px;
}
.container6{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 15px;
}
.Start-box{
    width: 306.66px;
    height: 420px;
    background-color: white;
}
.Start-box img{
    position: relative;
    left: 20px;
    top: 20px;
}
.heading-container6{
   font-size: 21px;
    position: relative;
    left: 15px;
    top: 12px; 
}
.product-detail{
    position: relative;
    top: 107px;
    left: 15px;
    

}




